.paragraph-container {
    background-color: #F0F6F1;
     width: 100%;
     padding: 24px 32px 32px 32px;
}

/* Clases para el título según el tipo de dispositivo */
.uberblick-title-desktop {
    margin-top: 0;
}

.uberblick-title-mobile {
    margin-top: 1.5em;
}

/* Media queries para asegurar comportamiento responsivo */
@media screen and (max-width: 768px) {
    .uberblick-title-mobile {
        margin-top: 1.5em;
    }
}

@media screen and (min-width: 769px) {
    .uberblick-title-desktop {
        margin-top: 0;
    }
}

.collapsible-panel-container {
    margin-top: 24px;
}